<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <application>
    <service
      android:name="com.opasafety.protection.OpaProtectionHeadlessService"
      android:enabled="true"
      android:exported="false" />

    <service
      android:name="com.opasafety.protection.OpaProtectionService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="microphone|location" />
  </application>
</manifest>